<#--
* description: 功能分配界面 
* version: 1.0 
* author:hailin.xu@hand-china.com
* -->
 <#include "../include/header.html">
<body>
   <script type="text/javascript">
       viewModel = kendo.observable({
				model : {
				    roleId: ${Session.roleId}
			    },
				queryResource : function(e) {
					$('#grid').data('kendoTreeList').dataSource.read();
				}
			});
     </script>
	<div id="dialog"></div>

	<div id="page-content">
    <div class="pull-left" id="toolbar-btn" style="padding-bottom:10px;">
        <span class="btn btn-primary" onclick="expand()" style="float:left;margin-right:5px;"><i class="fa fa-plus-square-o" style="margin-right:3px;"></i><@spring.message "hap.expand"/></span>
       <span class="btn btn-warning" onclick="collapse()"  style="float:left;margin-right:5px;"><i class="fa fa-minus-square-o" style="margin-right:3px;"></i><@spring.message "hap.collapse"/></span>
        <span class="btn btn-success"  onclick="saveRole()" style="float:left;"><i class="fa fa-save" style="margin-right:3px;"></i><@spring.message "hap.save"/></span>
    </div>
    <script>kendo.bind($('#toolbar-btn'), viewModel);</script>
    <div class="pull-right" id="query-form" style="padding-bottom:10px;">
        <div style="float:left;margin-right:5px;">
            <input type="text" id="role" style="width:150px;" placeholder='<@spring.message "function.parentfunctionid"/>'  data-bind="value:model.roleId,text:model.roleName">
            <script>
			 $("#role").kendoLov(${lovProvider.getLov(base.contextPath, base.locale, "LOV_ROLE")})
			</script>
        </div>
        <span class="btn btn-primary" id="query"  data-bind="click:queryResource" type="submit"><i class="fa fa-search" style="margin-right:3px;"></i><@spring.message "hap.query"/></span>

        <div style="clear:both"></div>
    </div>
    <script>kendo.bind($('#query-form'), viewModel);</script>
    <div style="clear:both">
        <div id="grid"></div>
    </div>
</div>


    <script type="text/x-kendo-template" id="resourceitem">
    # if (!data.hasChildren) { #
        <a href="\\#" onclick="assignResourceItem(' + item.id + ')"><@spring.message "hap.edit"/></a>
    # } #
    </script>

	<script type="text/javascript">
	$('#query-form input').keydown(function (e) {
	    if (e.keyCode == 13) {
	        e.target.blur();
	        viewModel.queryResource(e);
	    }
	});

		    function treelist(arr,childrens,parentId){
		        for(var i =0;i<childrens.length;i++){
		    	    childrens[i].parentId=parentId;
		    	    childrens[i].hasChildren=true;
		            arr.push(childrens[i])
		            if(childrens[i].children){
		                treelist(arr,childrens[i].children,childrens[i].id);
		            }else{
			            childrens[i].hasChildren=false;
		            }
		        }
		    }

		     function saveRole() {
		        var map = viewModel.model.toJSON();
		        if (!map.roleId) {
		            var dialog =  $("#dialog").kendoWindow({
			            actions: ["Close"],
			            width: 300,
			            height: 150,
			            title: '<@spring.message "msg.info.rolefunction.select_role"/>',
			            visible: false,
			            iframe: true
			        }).data("kendoWindow");
			        dialog.center().open();
		            return;
		        }

		        var checkedList = treeList.dataSource.data();
		        var datas = [];
		        if (checkedList.length > 0) {
		            for (var i = 0; i < checkedList.length; i++) {
		                if (checkedList[i].ischecked) {
		                    datas.push({
			                    roleId    : map.roleId,
			                    functionId: checkedList[i].id
			                })
		                }
		            }
		            $.ajax({
		                url        : "${base.contextPath}/sys/rolefunction/submit",
		                type       : "POST",
		                dataType   : "json",
		                contentType: "application/json",
		                data       : kendo.stringify(datas),
		                success    : function (json) {
		                }
		            });
		        }
		    }
		 // $(document).ready(function() {

			function assignResourceItem(id) {
		        var fd = treeList.dataSource.data();
		        var dialog =  $("#dialog").kendoWindow({
		            actions: [ "Maximize", "Minimize", "Close"],
		            width: 720,
		            height: 550,
		            title: '<@spring.message "job.schedulenewjob"/>',
		            visible: false,
		            iframe: true,
		            content: 'sys_role_resource_item_kendoui.html?functionId=' + id + '&roleId=' + fd.roleId
		        }).data("kendoWindow");
		        dialog.center().open();
		    }



			$.ajax({
	            url    : '${base.contextPath}/sys/role/query',
	            data   : {
	                roleId : ${Session.roleId}
	            },
	            success: function (json) {
	                if (json.success) {
	                    var row = json.rows[0] || {};
	                    viewModel.model.set("roleName",row.roleName);
	                }
	            }
	        });


			var crudServiceBaseUrl = '${base.contextPath}/sys/rolefunction',
			dataSource = new kendo.data.TreeListDataSource({
		        transport : {
					read : {
						url : crudServiceBaseUrl+ "/query",
						type : "POST",
						dataType : "json"
					},
					create : {
						url : crudServiceBaseUrl+ "/submit",
						contentType : "application/json",
						type : "POST"
					},
					update : {
						url : crudServiceBaseUrl+ "/submit",
						contentType : "application/json",
						type : "POST"
					},
					destroy : {
						url : crudServiceBaseUrl+ "/remove",
						contentType : "application/json",
						type : "POST"
					},
					parameterMap : function(options,type) {
						if (type !== "read"	&& options.models) {
						    var datas = options.models
							if (type == 'create'|| type == 'update') {
							    datas = options.models.map(function(data) {
								    data['__status'] = (type == 'create' ? 'add' : 'update');
								    return data;
							    })
							}
							return kendo.stringify(datas);
						} else if (type === "read") {
							var map = viewModel.model.toJSON();
							for ( var k in map) {
								if (map[k] === ''|| map[k] === null|| map[k] === undefined)
									delete map[k]
							}
							 return map;
						}

					}
				},
				requestEnd : function(e) {
					var response = e.response;
					if(!response)
						return;
					var datas = [];
						treelist(datas, response.rows||[],null);
						response.rows = datas;
				},
				batch   : true,
				schema  : {
					data  : 'rows',
					model : {
					    id      : "id",
					    parentId:'parentId',
						fields  : {
							url : {type : "string"},
							text: {type :"string"}
						} ,
						expanded: true
					}
				},
				change: function propagate(e) {
					var node = e.items && e.items[0];
					var propagatedField = "ischecked";

					if (!node || e.field != propagatedField) {
					    return;
					}

					this.unbind("change", propagate);
                    function update(dataSource, nodes, field, state) {
						for (var i = 0; i < nodes.length; i++) {
						     nodes[i].set(field, state);
                             update(dataSource, dataSource.childNodes(nodes[i]), field, state);
					    }
					}

					update(this, this.childNodes(node), propagatedField, node[propagatedField]);

					this.bind("change", propagate);
				}
			});

			var treeList  = $("#grid").kendoTreeList({
			    dataSource : dataSource,
				navigatable : false,
				height :  "100%",
				resizable : false,
				scrollable : true,
				editable : false,
				columns : [{
				    field : "text",
					title : '<@spring.message "function.functionname"/>',
					width : 200,
	                headerAttributes: {
	                    style  : "text-align: center"
	                },
                    template : function (item) {
					    return "<i class='" + item.icon + "' style='margin-right: 3px;'></i>" + item.text;
                    }
				},{
                    template: "<input type='checkbox' id='checkbox' data-bind='checked: ischecked' />",
                    width: 32,
                    attributes: {
	                    "class": "table-header-cell",
					    style: "text-align: center;"
					}
                },{
					field : "url",
					title : '<@spring.message "hap.comment"/>',
					width : 270,
	                headerAttributes: {
	                    style  : "text-align: center"
	                }
				}],
				dataBound: function() {
					var view = this.dataSource.view();
					this.items().each(function(index, row) {
					    kendo.bind(row, view[index]);
				    });
			    }
			}).data("kendoTreeList");

            function expand(){
            	var tree=treeList.dataSource.data();
				for(var i=0;i<tree.length;i++){
				    if(tree[i].hasChildren){
					    treeList.expand(tree[i]);
					}
				}
            }
			function collapse(){
				 var tree=treeList.dataSource.data();
				 for(var i=0;i<tree.length;i++){
					if(tree[i].hasChildren){
					    treeList.collapse(tree[i]);
					}
				}
			}
		//	});


			var grid = $("#grid").parent();
            var avaHeight = $(window).height() - grid.offset().top - 10
            grid.outerHeight(avaHeight)
            $("#grid").data('kendoTreeList').resize();
	        $(window).resize(function () {
	        	var grid = $("#grid").parent();
	            var avaHeight = $(window).height() - grid.offset().top - 10
	            grid.outerHeight(avaHeight)
	            $("#grid").data('kendoTreeList').resize();
	        });
	</script>
</body>
</html>
