<?xml version="1.0" encoding="UTF-8" ?>

<!--
  ~ Copyright Hand China Co.,Ltd.
  -->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hand.hap.HapExam.mapper.AllOrderMapper">

     
  <resultMap id="mySet"  type="com.hand.hap.HapExam.dto.AllOrder" >
        <result column="line_number" property="lineNumber" jdbcType="DECIMAL"/>
        <result column="item_code" property="itemCode" jdbcType="DECIMAL"/>
        <result column="item_description" property="itemDescription" jdbcType="VARCHAR"/>
        <result column="order_quantity_uom" property="orderQuantityUom" jdbcType="VARCHAR"/>
        <result column="orderd_quantity" property="orderdQuantity" jdbcType="DECIMAL"/>
         <result column="unit_selling_price" property="unitSellingPrice" jdbcType="DECIMAL"/>
          <result column="money" property="money" jdbcType="DECIMAL"/>
           <result column="description" property="description" jdbcType="VARCHAR"/>
          <result column="addition1" property="addition1" jdbcType="VARCHAR"/>
          <result column="addition2" property="addition2" jdbcType="VARCHAR"/>
          <result column="addition3" property="addition3" jdbcType="VARCHAR"/>
          <result column="addition4" property="addition4" jdbcType="VARCHAR"/>
          <result column="addition5" property="addition5" jdbcType="VARCHAR"/>
        
  
        </resultMap>
        
        <select id="selectAllorder"  resultMap="mySet">
         SELECT l.LINE_NUMBER,i.ITEM_CODE,i.ITEM_DESCRIPTION,l.ORDER_QUANTITY_UOM,l.ORDERD_QUANTITY,l.UNIT_SELLING_PRICE,l.ORDERD_QUANTITY*l.UNIT_SELLING_PRICE money,l.DESCRIPTION,l.ADDITION1,l.ADDITION2,l.ADDITION3,l.ADDITION4,l.ADDITION5 FROM hap_inv_inventory_items_b i,hap_om_order_lines_b l WHERE i.INVENTORY_ITEM_ID=l.INVENTORY_ITEM_ID
         </select>
  

</mapper>
