<?xml version="1.0" encoding="UTF-8" ?>

<!--
  ~ Copyright Hand China Co.,Ltd.
  -->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hand.hap.HapExam.mapper.OrderMapper">

     
  <resultMap id="mySet"  type="com.hand.hap.HapExam.dto.Order" >
        <result column="header_id" property="headerId" jdbcType="DECIMAL"/>
        <result column="company_id" property="companyId" jdbcType="DECIMAL"/>
        <result column="company_name" property="companyName" jdbcType="VARCHAR"/>
        <result column="customer_id" property="customerId" jdbcType="DECIMAL"/>
        <result column="customer_name" property="customerName" jdbcType="VARCHAR"/>
         <result column="order_number" property="orderNumber" jdbcType="VARCHAR"/>
          <result column="order_date" property="orderDate" jdbcType="TIMESTAMP"/>
           <result column="order_status" property="orderStatus" jdbcType="VARCHAR"/>
          <result column="orderd_quantity" property="orderdQuantity" jdbcType="DECIMAL"/>
           <result column="unit_selling_price" property="unitSellingPrice" jdbcType="DECIMAL"/>
        <result column="inventory_item_id" property="inventoryItemId" jdbcType="DECIMAL"/>
         <result column="item_description" property="itemDescription" jdbcType="VARCHAR"/>
    
  
        </resultMap>
        
        <select id="selectorder"   parameterType="com.hand.hap.HapExam.dto.Order" resultMap="mySet">
          SELECT  h.ORDER_NUMBER,h.ORDER_DATE,
          h.ORDER_STATUS,com.COMPANY_NAME,cus.CUSTOMER_NAME,
          I.UNIT_SELLING_PRICE FROM hap_om_order_headers_b h,
          hap_om_order_lines_b I,hap_ar_customers_b cus,hap_org_companys_b com,
          hap_inv_inventory_items_b d 
          where
          h.HEADER_ID=I.HEADER_ID AND
           h.CUSTOMER_ID=cus.CUSTOMER_ID 
           AND h.COMPANY_ID=com.COMPANY_ID 
           AND
            I.INVENTORY_ITEM_ID=d.INVENTORY_ITEM_ID
            <where>
            <if test="companyId!=null">
               and com.COMPANY_ID=#{companyId}
            </if>
            
            <if test="orderNumber!=null">
             and h.ORDER_NUMBER=#{orderNumber}
             </if>
            <if test="customerId!=null">
             and cus.CUSTOMER_ID=#{customerId}
             </if>
             
              <if test="orderStatus!=null">
             and h.ORDER_STATUS=#{orderStatus}
             </if>
             <if test="inventoryItemId!=null">
             and d.INVENTORY_ITEM_ID=#{inventoryItemId}
             </if>
             </where>
          
         </select>
  

</mapper>
