<#-- 
 * description: 消息模板页面
 * version: 1.0 
 * author:Clerifen Li
 * #{copyright}#
 * 
-->
<#include "../include/head.html">
<body style="padding: 10px;">
<script src="${base.contextPath}/common/code?messageTypeData=SYS.MESSAGE_TYPE" type="text/javascript"></script>
<form id="dataForm"></form>
<div id="dataGrid"></div>

<script type="text/javascript">
    $(function () {
        window.editData = function (id) {
            var url = 'sys_message_template_edit.html';
            if (id) {
                url = url + '?isedit=1&id=' + id;
            }
            window.popWin = $.ligerDialog.open({
                width : 900,
                height: 550,
                url   : url
            });
        };
        /* dataForm表单提交 */
        window['dataForm'] = $("#dataForm").ligerForm({
            fields : [{
                type : 'text',
                label: '<@spring.message "messagetemplate.templatecode"/>',
                name : 'templateCode'
            }, {
                type   : 'text',
                label  : '<@spring.message "messagetemplate.name"/>',
                name   : 'description',
                newline: false
            }],
            buttons: [{
                text    : '<@spring.message "hap.query"/>',
                disabled: false,
                width   : 60,
                click   : function () {
                    Hap.gridQuery({
                        form: dataForm,
                        grid: dataGrid
                    })
                }
            }]
        });

        /* dataGrid表格提交 */
        window['dataGrid'] = $("#dataGrid").ligerGrid({
            columns : [
                {
                    display: '<@spring.message "messagetemplate.templatecode"/>',
                    name   : "templateCode",
                    align  : "left",
                    width  : 180
                },
                {display: '<@spring.message "messagetemplate.name"/>', name: "description", align: "center", width: 180},
                {
                    display: '<@spring.message "hap.action"/>', width: 100, align: 'center',
                    render : function (rowdata) {
                        return '<a href="#" onclick="editData(' + rowdata.templateId + ')"><@spring.message "hap.edit"/></a>'
                    }
                }
            ],
            url     : '${base.contextPath}/sys/messageTemplate/query',
            toolbar : {
                items: [
                    {
                        text: '<@spring.message "hap.new"/>', icon: 'add', click: function () {
                        editData();
                    }
                    },
                    {line: true},
                    {
                        text: '<@spring.message "hap.delete"/>', icon: 'delete', click: function () {
                        Hap.gridDelete({
                            grid: dataGrid,
                            url : '${base.contextPath}/sys/messageTemplate/remove'
                        })
                    }
                    }
                ]
            },
            width   : '99%',
            height  : '98%',
            checkbox: true
        })
    })
</script>
</body>
</html>