<#-- 
 * description: 淇敼娑堟伅璐﹀彿椤甸潰
 * version: 1.0 
 * author:Clerifen Li
 * #{copyright}#
 * 
-->
<#include "../include/head.html">
<body style="padding: 15px">
	<script src="${base.contextPath}/common/code?messageTypeData=SYS.MESSAGE_TYPE" type="text/javascript"></script>
	<form id="mainForm" method="post" enctype="application/json;charset=UTF-8"></form>
	<script type="text/javascript">
	  //淇濆瓨鎻愪氦
      function saveDialog() {
          Hap.submitForm({
              form: dataForm,
              wrapArray: false,
          	  url: '${base.contextPath}/sys/messageAccount/updatePasswordOnly',
              success:function(json, opt){
                  $.ligerDialog.success("<@spring.message "hap.tip.success"/>", '<@spring.message "hap.tip.info"/>', function(){
                      parent.dataGrid.reload();
                      cancelDialog();
                  });
              }
          });
      }
	  //鍙栨秷
      function cancelDialog() {
          var dialog = frameElement.dialog;
          dialog.close();
      }
      //琛ㄥ崟搴曢儴鎸夐挳 
      Hap.setFormDefaultBtn(cancelDialog, saveDialog);
	  //-------------------------------------------------------------
      
        //琛ㄥ崟
        var mainForm = $("#mainForm");
        var dataForm  = mainForm.ligerForm({
            inputWidth: 280,
            fields: [{
                name: "userId",
                type: "hidden"
            },{
                display: '<@spring.message "messageaccount.password"/>',
                name: "password",
                type: "text",
                newline: true,
                validate: {
                	required: true
                }
            }]
        });
     Hap.loadForm({form: dataForm, url:'${base.contextPath}/sys/messageAccount/queryAccount',para:{userId:${RequestParameters.id}}, callback:function(){
    	 liger.get("password").setValue("");
     }})
    </script>
</body>
</html>
