<?xml version="1.0" encoding="UTF-8" ?>
<!--
  ~ #{copyright}#
  -->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hand.hap.account.mapper.RoleMapper">
    <resultMap id="BaseResultMap" type="com.hand.hap.account.dto.Role" extends="com.hand.hap.mapper.StdMapper.STD">
        <result column="ROLE_ID" property="roleId" jdbcType="DECIMAL"/>
        <result column="ROLE_CODE" property="roleCode" jdbcType="VARCHAR"/>
        <result column="ROLE_NAME" property="roleName" jdbcType="VARCHAR"/>
        <result column="ROLE_DESCRIPTION" property="roleDescription" jdbcType="VARCHAR"/>
    </resultMap>
    <resultMap id="BaseResultMapExt" type="com.hand.hap.account.dto.RoleExt" extends="BaseResultMap">
        <result column="SUR_ID" property="surId" jdbcType="DECIMAL"/>
        <result column="END_ACTIVE_DATE" property="endActiveDate"/>
        <result column="enable_Flag" property="enableFlag" jdbcType="VARCHAR"/>
    </resultMap>
    <sql id="Base_Column_List" >
        ROLE_ID, ROLE_CODE, ROLE_NAME, ROLE_DESCRIPTION
    </sql>

    <select id="selectRoleNotUserRoles" parameterType="com.hand.hap.account.dto.RoleExt" resultMap="BaseResultMap">
        select b.role_id, b.role_code, tl.role_name, tl.ROLE_DESCRIPTION
        from sys_role_tl tl, sys_role_b b
         where
            b.role_id not in (select role_id from sys_user_role where user_id = #{userId,jdbcType=DECIMAL,javaType=java.lang.Long})
            and tl.role_id = b.role_id
            and tl.lang = #{request.locale,jdbcType=VARCHAR,javaType=java.lang.String}
            and ( b.start_active_date is  null or CURRENT_TIMESTAMP>b.start_active_date)
            and  (b.END_ACTIVE_DATE is null or b.END_ACTIVE_DATE>current_timestamp)
            and b.enable_flag='Y'
            <if test="roleCode!=null">
                and b.role_code like concat('%',concat(#{roleCode},'%'))
            </if>
            <if test="roleName!=null">
                and tl.role_name like concat('%',concat(#{roleName},'%'))
            </if>
        order by b.role_id
    </select>
    <select id="selectUserRoles" parameterType="java.lang.Long" resultMap="BaseResultMapExt">
        SELECT
            ur.sur_id ,
            ur.USER_ID ,
            r.role_id,
            r.role_code,
            r.role_name,
            r.role_description,
            r.enable_flag,
            r.end_active_date
        FROM
            sys_user_role ur ,
            sys_role_b r
        LEFT OUTER JOIN sys_role_tl tl ON(
            r.ROLE_ID = tl.ROLE_ID
            AND tl.LANG = #{request.locale,jdbcType=VARCHAR,javaType=java.lang.String}
        )
        WHERE
            ur.ROLE_ID = r.ROLE_ID
        AND ur.user_id = #{userId,jdbcType=DECIMAL,javaType=java.lang.Long}
        ORDER BY
            r.role_id
    </select>

    <select id="selectUserRoleCount" resultType="int">
        select count(1) from sys_user_role t where t.user_id = #{0} and t.role_id = #{1}
    </select>


    <select id="selectByUser" resultMap="BaseResultMap" parameterType="com.hand.hap.account.dto.User" >
        SELECT sur.role_id, sr_tl.role_name
          FROM sys_user_role sur
          LEFT OUTER JOIN sys_role_tl sr_tl
            on (sur.role_id = sr_tl.role_id AND
                 sr_tl.lang = #{request.locale,jdbcType=VARCHAR})
          left join sys_role_b b on(b.role_id=sur.role_id)
           WHERE sur.user_id = #{userId, jdbcType = DECIMAL}
            and (b.END_ACTIVE_DATE IS NULL OR b.END_ACTIVE_DATE>current_timestamp)
            and (b.start_active_date is  null or CURRENT_TIMESTAMP>b.start_active_date )
            and b.enable_flag='Y'
           order by sur.role_id
    </select>

    <select id="selectRolesByUserWithoutLang" resultMap="BaseResultMap" parameterType="com.hand.hap.account.dto.User" >
        SELECT sur.role_id
          FROM sys_user_role sur
         WHERE sur.user_id = #{userId, jdbcType = DECIMAL}
    </select>
</mapper>