<?xml version="1.0" encoding="UTF-8" ?>
<!--
  ~ #{copyright}#
  -->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hand.hap.function.mapper.RoleFunctionMapper" >
  <resultMap id="BaseResultMap" type="com.hand.hap.function.dto.RoleFunction" extends="com.hand.hap.mapper.StdMapper.STD" >
    <id column="SRF_ID" property="srfId" jdbcType="DECIMAL" />
    <result column="ROLE_ID" property="roleId" jdbcType="DECIMAL" />
    <result column="FUNCTION_ID" property="functionId" jdbcType="DECIMAL" />
  </resultMap>
  <sql id="Base_Column_List" >
    SRF_ID, ROLE_ID, FUNCTION_ID
  </sql>

   <select id="selectRoleFunctions" resultMap="BaseResultMap" parameterType="com.hand.hap.function.dto.RoleFunction" >
        select
        <include refid="Base_Column_List" />
        FROM SYS_ROLE_FUNCTION
        WHERE ROLE_ID = #{roleId,jdbcType=DECIMAL}
  </select>

   <select id="selectCountByFunctionCode" resultType="java.lang.Integer">
   SELECT count(1)
      FROM sys_role_function srf
      LEFT JOIN sys_function_b sfb
        ON srf.function_id = sfb.function_id
    Where srf.role_id = #{roleId,jdbcType=DECIMAL}
      and sfb.function_code = #{functionCode,jdbcType=VARCHAR}
   </select>

  <select id="selectAllRoleResources" resultType="org.springframework.util.LinkedCaseInsensitiveMap">
    SELECT srf.ROLE_ID,sfr.RESOURCE_ID FROM
    SYS_ROLE_FUNCTION srf
    INNER JOIN SYS_FUNCTION_RESOURCE  sfr ON srf.FUNCTION_ID = sfr.FUNCTION_ID
  </select>
  <select id="selectRoleResources" parameterType="long" resultType="org.springframework.util.LinkedCaseInsensitiveMap">
    SELECT sfr.RESOURCE_ID FROM
    SYS_ROLE_FUNCTION srf
    INNER JOIN SYS_FUNCTION_RESOURCE  sfr ON srf.FUNCTION_ID = sfr.FUNCTION_ID
    where srf.ROLE_ID = #{roleId,jdbcType=DECIMAL}
  </select>
  <delete id="deleteByFunctionId" parameterType="java.lang.Long" >
    delete from SYS_ROLE_FUNCTION
    where FUNCTION_ID = #{functionId,jdbcType=DECIMAL}
  </delete>
  <delete id="deleteByRoleId" parameterType="java.lang.Long" >
    delete from SYS_ROLE_FUNCTION
    where ROLE_ID = #{roleId,jdbcType=DECIMAL}
  </delete>
  <select id="selectAllRoleFunctions" resultType="org.springframework.util.LinkedCaseInsensitiveMap">
    select role_id, function_id from sys_role_function
  </select>
  
</mapper>