<#-- 
 * description: 管理员重置用户密码
 * version: 1.0 
 *
 *
-->
<#include "../../include/header.html">
<body style="padding: 10px;">

<div class="panel" >
    <form  id="passwdForm"  class="form-horizontal"  role="form">
        <input name="userId" type="hidden" id="userId">
        <div class="panel-body">
         <div class="col-sm-12">
                <div class="form-group">
                    <label class="col-sm-4 control-label "><@spring.message"user.new_password"/></label>
                    <div class="col-sm-4">
                          <input type="password" style="width:95%" name="password" id="password"
                          class="k-textbox" required validationmessage="input password" >
                    </div>
                </div>
          </div>
          <div class="col-sm-12">
                <div class="form-group">
                    <label class="col-sm-4 control-label"><@spring.message"user.again_new_password"/></label>
                    <div class="col-sm-4">
                            <input type="password" style="width:95%" required validationmessage="input password again"
							name= "passowrd2" autocomplete="off" class="k-textbox " data-greaterdate-msg='<@spring.message "error.user.two_password_not_match"/>'>
                    </div>
                </div>
          </div>
          </div>
          <div class="text-center panel-footer ">
              <span class="btn btn-success" id="submit" type="submit"><@spring.message "hap.save"/></span>
          </div>
      </form>
</div>
	<script type="text/javascript">
	   $(document).ready(function() {
		   var container = $("#passwdForm");
           kendo.init(container);
           container.kendoValidator({
               rules: {
                   greaterdate: function (input) {
                       if (input.is("[data-greaterdate-msg]") && input.val() != "") {                                    
                          var pawd1 =  $("#password");
                          return pawd1.val()==input.val();
                       }

                       return true;
                   }
               }
             
           });
 
          $("#submit").click(function() {
               var validator = $("#passwdForm").data("kendoValidator");
               if (validator.validate()) {
            	   //给userId赋值
            	   $("#userId").val('${RequestParameters.userId}');
            	   
            	    $.ajax({
                       type   : 'POST',
                       url    : "${base.contextPath}/sys/um/resetPasswordAdmin",
                       data   : container.serialize(),
                       success: function (data) {
                           alert("保存成功");
                       }
                   }); 
               } 
           });
           
	   });
	</script>
</body>

</html>